<section class="desClass"> 
    <div>
        <h1>About Us</h1>
        <a href="#">Our Company</a>
        <a href="#">Our Coffee</a>
        <a href="#">About Starbucks</a>
        <a href="#">Starbuck Archive</a>
        <a href="#">Investon Relation</a>
        <a href="#">Customer Service</a>
        <a href="#">Contact Us</a>
    </div>

    <div>
        <h1>Carrers</h1>
        <a href="#">Cultural and Valuse</a>
        <a href="#">Our Coffee</a>
        <a href="#">About Starbucks</a>
        <a href="#">Starbuck Archive</a>
        <a href="#">Investon Relation</a>
        <a href="#">Customer Service</a>
        <a href="#">Contact Us</a>
    </div>
    <div>
        <h1>Social Impact</h1>
        <a href="#">Our Company</a>
        <a href="#">Our Coffee</a>
        <a href="#">About Starbucks</a>
        <a href="#">Starbuck Archive</a>
        <a href="#">Investon Relation</a>
        <a href="#">Customer Service</a>
        <a href="#">Contact Us</a>
    </div>
    <div style="width: 20%;">
        <h1>For Business Partner</h1>
        <a href="#">Our Company</a>
        <a href="#">Our Coffee</a>
        <a href="#">About Starbucks</a>
        <a href="#">Starbuck Archive</a>
        <a href="#">Investon Relation</a>
        <a href="#">Customer Service</a>
        <a href="#">Contact Us</a>
    </div>
    <div style="width: 20%;">
        <h1>Order and Pick up</h1>
        <a href="#">Our Company</a>
        <a href="#">Our Coffee</a>
        <a href="#">About Starbucks</a>
        <a href="#">Starbuck Archive</a>
        <a href="#">Investon Relation</a>
        <a href="#">Customer Service</a>
        <a href="#">Contact Us</a>
    </div>
</section>