<header id="home"> 
    <div class="leftside">
        <div><a href="#home" ><img src="/assets/logo.png" alt="starbuck"></a></div>
        <ul>
            <li><a id="menu"   href="../views/menu.html">MENU</a></li>
            <li><a  id="rewards" href="../views/reward.html">REWARDS</a></li>
            <li><a  id="giftcard" href="../views/giftcard.html">GIFT CARDS</a></li>
        </ul>
    </div>
    <div class="rightside">
        <button class="locaClass" ><img src="/assets/location.png" alt="location"><span>Find a Store</span></button>
        <button class="signinbtn">Sign in</button>
        <button class="joinbtn">Join now</button>
    </div>
</header>