<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbuck Coffee Company</title>
    <link href="/style/styles.css"  type="text/css" rel="stylesheet" >
</head>
<body>
    <header id="home"> 
        <div class="leftside">
            <div><a href="#home" ><img src="/assets/logo.png" alt="starbuck"></a></div>
            <ul>
                <li><a href="/menu.html">MENU</a></li>
                <li><a href="/reward.html">REWARDS</a></li>
                <li><a href="/giftcard.html">GIFT CARDS</a></li>
            </ul>
        </div>
        <div class="rightside">
            <button class="locaClass" ><img src="/assets/location.png" alt="location"><span>Find a Store</span></button>
            <button class="signinbtn">Sign in</button>
            <button class="joinbtn">Join now</button>
        </div>
    </header>

    <section class="sec">
        <div class="newFeature">
            <div class="leftnewFeature" style="background-color: #0b7a55; color: #fff;">
                <h1>New to the nice list</h1>
                <p >Celebrate the season with a new refreshingly festive Cran-Merry Orange Lemonade Refresher or Cran-Merry Drink.</p>
                <button class="orderbtn" style="background: #0b7a55; color: #fff;">Order now</button>
            </div>
            <div class="rightnewFeature" >
                <img class="foodClass" src="/assets/food1.jpg" alt="foodss">
            </div>
        </div>
        <div class="newFeature">
            <div class="rightnewFeature" >
                <img class="foodClass" src="/assets/food2.webp" alt="foodss">
            </div>
            <div class="leftnewFeature" style="background-color: #8e0031; color: #fff;">
                <h1>Festive feels</h1>
                <p >There’s no question that our Sugar Plum Cheese Danish and Cranberry Bliss Bar just taste like the holidays.</p>
                <button class="orderbtn" style="background: #8e0031; color: #fff;">Order now</button>
            </div>
            
        </div>
        <div class="newFeature">
            <div class="leftnewFeature" style="background-color: #06ce8d; color: #000000;">
                <h1>Joy in every sip</h1>
                <p >Taste the magic of the holidays with a Peppermint Mocha, Caramel Brulée Latte or Chestnut Praline Latte.</p>
                <button class="orderbtn" style="background: #06ce8d; color: #000000; border: 1px solid #000000;">Order now</button>
            </div>
            <div class="rightnewFeature" >
                <img class="foodClass" src="/assets/food3.jpg" alt="foodss">
            </div>
        </div>
        <div class="newFeature">
            <div class="rightnewFeature" >
                <img class="foodClass" src="/assets/food4.webp" alt="foodss">
            </div>
            <div class="leftnewFeature" style="background-color: #8e0031; color: #fff;">
                <h1 style="font-size: 2em">Buy a box, we’ll give back​</h1>
                <p  style="font-size: 1.5em;">In partnership with Feeding America®, protein box purchase helps support hunger relief in your community.*</p>
                <button class="orderbtn" style="background: #8e0031; color: #fff;">Learn more</button>
            </div>
            
        </div>
        <div class="newFeature">
            <div class="leftnewFeature" style="background-color: #f2f0eb; color: #006241;">
                <h1 style="font-size: 2em">Your cheer is here</h1>
                <p  style="font-size: 1.5em;" >Join Starbucks® Rewards and get a <b style="font-weight: 900;"> free drink</b> with qualifying purchase during your first week and let’s make your holidays even merrier.**</p>
                <button class="orderbtn" style="background: #f2f0eb; color: #006241; border: 1px solid #000000;">Join now</button>
            </div>
            <div class="rightnewFeature" >
                <img class="foodClass" src="/assets/food5.webp" alt="foodss">
            </div>
        </div>
        <div class="newFeature">
            <div class="rightnewFeature" >
                <img class="foodClass" src="/assets/food6.webp" alt="foodss">
            </div>
            <div class="leftnewFeature" style="background-color: #007549; color: #fff;">
                <h1 style="font-size: 2em">Non-dairy now at no extra charge​</h1>
                <p  style="font-size: 1.5em;">Now you can order your favorite Starbucks® handcrafted drink and customize it with any non-dairy milk at no extra charge.***
                </p>
                <button class="orderbtn" style="background: #007549; color: #fff;">Learn more</button>
            </div>
        </div>
        
        <div class="newFeature">
            <div class="leftnewFeature" style="background-color: #013a34; color: #fff;">
                <h1>Together they’re unlimited</h1>
                <p >Celebrate the WICKED movie release with Elphaba’s Cold Brew and Glinda’s Pink Potion—in stores for a limited time.****</p>
                <button class="orderbtn" style="background: #013a34; color: #fff;">Order now</button>
            </div>
            <div class="rightnewFeature" >
                <img class="foodClass" src="/assets/food7.jpg" alt="foodss">
            </div>
        </div>
        
    </section>

    <section  class ="conditionSection sec">
        <p>*At participating Starbucks stores within the U.S. from 11/19/24 to 1/2/25, for each protein box sold, Starbucks will donate the monetary equivalent of one meal to Feeding America®. $1 helps provide at least 10 meals secured by Feeding America on behalf of local partner food banks.</p>
        <p>**Valid only for new Starbucks Rewards members for 7 days from sign up. Offer good at participating stores for a handcrafted menu-sized beverage with qualifying purchase ($8 max value). Qualifying purchase excludes alcohol, Starbucks Card and Starbucks Card reloads. Limit one per member. Cannot be combined with other offers or discounts. Excludes delivery services. Sign up before 1/2/2025 to be eligible.</p>
        <p>***Applies to non-dairy milk customizations on standard beverages at cafés owned and operated by Starbucks in the U.S. and Canada.</p>
        <p>***Applies to non-dairy milk customizations on standard beverages at cafés owned and operated by Starbucks in the U.S. and Canada.</p>
    </section>

    <section class="desClass sec"> 
        <div>
            <h1>About Us</h1>
            <a href="#">Our Company</a>
            <a href="#">Our Coffee</a>
            <a href="#">About Starbucks</a>
            <a href="#">Starbuck Archive</a>
            <a href="#">Investon Relation</a>
            <a href="#">Customer Service</a>
            <a href="#">Contact Us</a>
        </div>

        <div>
            <h1>Carrers</h1>
            <a href="#">Cultural and Valuse</a>
            <a href="#">Our Coffee</a>
            <a href="#">About Starbucks</a>
            <a href="#">Starbuck Archive</a>
            <a href="#">Investon Relation</a>
            <a href="#">Customer Service</a>
            <a href="#">Contact Us</a>
        </div>
        <div>
            <h1>Social Impact</h1>
            <a href="#">Our Company</a>
            <a href="#">Our Coffee</a>
            <a href="#">About Starbucks</a>
            <a href="#">Starbuck Archive</a>
            <a href="#">Investon Relation</a>
            <a href="#">Customer Service</a>
            <a href="#">Contact Us</a>
        </div>
        <div style="width: 20%;">
            <h1>For Business Partner</h1>
            <a href="#">Our Company</a>
            <a href="#">Our Coffee</a>
            <a href="#">About Starbucks</a>
            <a href="#">Starbuck Archive</a>
            <a href="#">Investon Relation</a>
            <a href="#">Customer Service</a>
            <a href="#">Contact Us</a>
        </div>
        <div style="width: 20%;">
            <h1>Order and Pick up</h1>
            <a href="#">Our Company</a>
            <a href="#">Our Coffee</a>
            <a href="#">About Starbucks</a>
            <a href="#">Starbuck Archive</a>
            <a href="#">Investon Relation</a>
            <a href="#">Customer Service</a>
            <a href="#">Contact Us</a>
        </div>
    </section>
    <footer></footer>
</body>
</html>