<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rewards: Starbucks</title>
    <link href="style.css"  rel="stylesheet">
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <header id="home"> 
        <div class="leftside">
            <div><a href="#home" ><img src="logo.png" alt="starbuck"></a></div>
            <ul>
                <li><a href="/menu.html">MENU</a></li>
                <li><a href="/reward.html">REWARDS</a></li>
                <li><a href="/giftcard.html">GIFT CARDS</a></li>
            </ul>
        </div>
        <div class="rightside">
            <button class="locaClass" ><img src="location.png" alt="location"><span>Find a Store</span></button>
            <button class="signinbtn">Sign in</button>
            <button class="joinbtn">Join now</button>
        </div>
    </header>
</body>
</html>